<aside class="order-3 -z-10 w-2/12 object-right">
  <div class="sticky top-10">

    <div class="border rounded-xl p-3 -ml-32 w-56 h-max bg-white dark:bg-zinc-800 dark:border-zinc-800 shadow-xl">
      <div class="mb-2 text-center text-2xl dark:text-white">
        <%= current_time %>
      </div>
      <div class="text-lg dark:text-white">
        <%= current_date %>
      </div>
    </div>

    <div class="border rounded-xl p-4 mt-8 -ml-32 w-56 h-72 bg-white dark:bg-zinc-800 dark:border-zinc-800 shadow-xl">

    </div>

  </div>
</aside>