<% if object && object.errors.full_messages.any? %>
  <div class="border rounded-xl w-10/12 my-2 mx-auto bg-red-500 border-red-600">
    <ul class="m-3">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>