<aside class="order-1 border rounded-xl p-3 ml-5 h-screen w-2/12 object-left bg-white dark:bg-zinc-800 dark:border-zinc-800 shadow-xl">
  <div class="container mx-auto items-center text-center dark:text-white">
    <ul class="text-2xl">
      <li class='font-bold'><%= link_to 'Home', root_path %></li>
      <li class='font-bold'><%= link_to 'Posts', posts_path %></li>
    </ul>
  </div>
</aside>