<% provide :page_title, "Show Post" %>
<% currently_at 'Show Post'%>

<div class="p-2">
  <h1 class="text-4xl"><%= sanitize @post.title%></h1>

  <h2 class="pt-6 text-2xl"><%= sanitize @post.body%></h2>
</div>